@import 'tailwindcss';

@config '../tailwind.config.cjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
}

body {
  font-family: 'MiSans VF', 'Noto Sans SC', 'PingFang SC', 'Microsoft Yahei', 'MicroSoft YaHei UI', system-ui, serif;
  cursor: url(@/assets/cursor/normal.png), default;
  background-color: #edd1d8;
}

div::-webkit-scrollbar {
  width: 0;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(248, 112, 112, 0.749);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(249, 127, 127, 0.749);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(245, 140, 140, 0.749);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(235, 64, 64, 0.749);
}
